.cta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 2rem;
	padding: 2rem;
	border-radius: 10px;
	background-color: var(--color-text-accent);
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	flex: 1;
}

.text h4 {
	font-size: 2.5rem;
	line-height: 2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	color: var(--color-bg);
}

.text p {
	font-size: 1.2rem;
	font-weight: 100;
	line-height: 2rem;
	color: var(--color-bg);
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.buttonContainer button {
	padding: 0.5rem 1rem;
	color: var(--color-bg);
	background: transparent;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 2rem;
	border-radius: 6px;
	border: 1px solid var(--color-bg);
	outline: none;
	cursor: pointer;
	margin: 0 2rem;
	min-width: 9rem;
	min-height: 3.2rem;
}

/* Media Queries */
/* Larger Devices  - any size below 1050px will be affected by this query */
@media screen and (max-width: 1050px) {
	.cta {
		flex-direction: column;
		margin-top: 1rem;
		padding: 1.5rem;
	}
	.text {
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 0;
		margin-bottom: 2rem;
	}

	.text h4 {
		font-size: 2rem;
	}

	.text p {
		font-size: 1rem;
		margin-top: 0.2rem;
	}
}

/* Tablet Devices  - any size below 650px will be affected by this query */
@media screen and (max-width: 650px) {
	.cta {
		flex-direction: column;
		margin-top: 0.5rem;
		padding: 2rem;
	}
	.text {
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 0;
		margin-bottom: 2rem;
	}

	.text h4 {
		font-size: 1.8rem;
		letter-spacing: normal;
	}

	.text p {
		font-size: 1rem;
		margin-top: 0rem;
		letter-spacing: normal;
	}
}

/* Mobile Devices  - any size below 490px will be affected by this query */
@media screen and (max-width: 490px) {
	.cta {
		flex-direction: column;
		margin-top: 0.2rem;
		padding: 2rem;
	}
	.text {
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 0;
		margin-bottom: 2rem;
	}

	.text h4 {
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: normal;
	}

	.text p {
		font-size: 1rem;
		margin-top: 0.5rem;
		letter-spacing: normal;
	}
}
