.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	margin-top: 6rem;
	position: relative;
}

.head {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 5rem;
}

.head h3 {
	font-weight: 600;
	font-size: 3rem;
	line-height: 3rem;
	text-align: center;
	color: var(--color-text);
}

.head div {
	width: 12rem;
	height: 0;
	margin-left: 2rem;
	background-color: var(--color-subtext);
	border: 1px solid var(--color-button);
}

.cardContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	gap: 1.5rem;
}
/* Bottom Forward Nav */
.pageNav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2rem 1rem 2rem 0;
	color: var(--color-subtext);
	cursor: pointer;
}
.pageNav svg:first-child,
.pageNav svg:last-child {
	font-size: 0.8rem;
}
.pageNav svg:last-child {
	margin-left: -0.7rem;
}
.pageNav svg:nth-child(3) {
	font-size: 1.5rem;
	margin-right: 0;
	margin-left: -0.2rem;
	font-weight: 100;
}
.pageNav p {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
}

/* Bottom Backward Nav */
.pageBackNav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 2rem 0rem 2rem 1rem;
	color: var(--color-subtext);
	cursor: pointer;
}
.pageBackNav svg:first-child,
.pageBackNav svg:last-child {
	font-size: 0.8rem;
}
.pageBackNav svg:last-child {
	margin-left: -0.7rem;
}
.pageBackNav svg:nth-child(3) {
	font-size: 1.5rem;
	margin-right: 0;
	margin-left: -0.2rem;
	font-weight: 100;
}
.pageBackNav p {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
}

/* Media Queries */
/* Larger Devices  - any size below 1050px will be affected by this query */
@media screen and (max-width: 1050px) {
}
/* Tablet Devices  - any size below 650px will be affected by this query */
@media screen and (max-width: 650px) {
}
/* Mobile Devices  - any size below 490px will be affected by this query */
@media screen and (max-width: 490px) {
	.head {
		flex-direction: column;
	}

	.head h3 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.head div {
		width: 8rem;
		margin-left: 0;
	}
	.pageNav,
	.pageBackNav {
		display: none;
	}
}
@media screen and (max-width: 280px) {
	.head {
		margin-bottom: 1rem;
	}
	.head h3 {
		font-size: 2rem;
		line-height: 2rem;
	}
	.head div {
		width: 8rem;
		margin-left: 0;
	}
	.cardContainer {
		padding: 1rem;
	}
	.pageNav,
	.pageBackNav {
		display: none;
	}
}
