.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding: 2rem;
	margin-top: 6rem;
	position: relative;
}

.container .backnav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	color: var(--color-text-accent);
	cursor: pointer;
	transition: 200ms all ease-in-out;
}

.container .backnav svg {
	font-size: 1.5rem;
	margin-right: 0.5rem;
	transition: 200ms all ease-in-out;
}

.container .backnav p {
	font-size: 1rem;
	font-style: italic;
	font-weight: 100;
	text-transform: lowercase;
	transition: 200ms all ease-in-out;
}
.container .backnav:hover,
.container .backnav svg:hover,
.container .backnav p:hover {
	color: var(--color-button);
	transform: scale(1.1);
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.left {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	/* position: relative; */
	width: 500px;
	height: auto;
}

.left img {
	border-radius: 12px;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 4rem;
	gap: 2rem;
	width: 60%;
}

.head {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.head h3 {
	font-weight: 600;
	font-size: 2.8rem;
	line-height: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-text);
	/* margin-bottom: 0rem; */
}

.head p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 2.5rem;
	margin-top: 3rem;
	text-align: justify;
	color: var(--color-text);
}

.head p::first-letter {
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
	color: var(--color-button);
}

.tags {
	gap: 1rem;
}

.tags,
.tags p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.tags p {
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 3rem;
	text-align: justify;
	color: var(--color-text);
}

.tags p span {
	display: inline-block;
	font-weight: 200;
	font-size: 1rem;
	line-height: 2rem;
	text-align: justify;
	margin-top: -0.5rem;
	color: var(--color-text);
}

.linksContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 2rem;
}

/* .linksContainer button {
  padding: 0.5rem 1rem;
  background-color: var(--color-button);
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 9rem;
  min-height: 3.2rem;
  margin-right: 2rem;
  text-transform: capitalize;
} */

.linksContainer button {
	padding: 0.5rem 1rem;
	color: var(--color-button);
	background: transparent;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 2rem;
	border-radius: 6px;
	border: 1px solid var(--color-button);
	outline: none;
	cursor: pointer;
	min-width: 8.2rem;
	min-height: 3.2rem;
	margin-right: 2rem;
	text-transform: capitalize;
}

/* Hover Animation */
/* Sweep To Right */
.hvrSweepToRight {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvrSweepToRight:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--color-subtext);
	border-radius: 5px;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvrSweepToRight:hover,
.hvrSweepToRight:focus,
.hvrSweepToRight:active {
	color: white;
	border: none;
}
.hvrSweepToRight:hover:before,
.hvrSweepToRight:focus:before,
.hvrSweepToRight:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
/* ################################### */
/* Media Queries */
/* Larger Devices  - any size below 1050px will be affected by this query */
@media screen and (max-width: 1050px) {
	.content {
		flex-direction: column;
	}

	.left {
		margin-top: 2rem;
	}

	.right {
		width: 100%;
		margin-top: 1rem;
	}

	.head h3 {
		font-size: 2rem;
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}

	.head p {
		margin-top: 2rem;
	}

	.head p::first-letter {
		font-size: 2.5rem;
	}

	.tags p {
		font-size: 1rem;
		line-height: 2rem;
	}
}
/* Tablet Devices  - any size below 650px will be affected by this query */
@media screen and (max-width: 650px) {
	.container {
		padding: 0;
	}

	.content {
		margin-top: 2em;
	}

	.left {
		width: 450px;
	}

	.right {
		margin-top: 3rem;
		padding: 0;
	}

	.head h3 {
		margin: 2rem 0 0 0;
	}

	.linksContainer {
		margin-bottom: 3rem;
	}
}
/* Mobile Devices  - any size below 490px will be affected by this query */
@media screen and (max-width: 490px) {
	.container {
		margin-top: 2rem;
		padding: 2rem;
	}
	.container .backnav {
		top: 2%;
		left: 5%;
	}
	.content {
		flex-direction: column-reverse;
	}
	.left {
		width: 320px;
	}

	.head h3 {
		font-size: 1.5rem;
		line-height: 1rem;
	}
	.head p {
		line-height: 2rem;
		margin-top: 2rem;
	}
	.tags p span {
		text-align: left;
	}

	.left {
		margin-bottom: 3rem;
	}
	.linksContainer button {
		min-width: 9rem;
		min-height: 3rem;
		margin-right: 1rem;
	}
}
@media screen and (max-width: 280px) {
	.container {
		margin-top: 2rem;
	}
	.container .backnav {
		top: 2%;
		left: 7%;
	}

	.left {
		width: 250px;
	}

	.head h3 {
		font-size: 1.5rem;
		line-height: 1rem;
	}

	.tags p span {
		text-align: left;
	}

	.left {
		margin-bottom: 3rem;
	}
	.linksContainer {
		flex-direction: column;
		gap: 2rem;
		flex-wrap: wrap;
	}
	.linksContainer button {
		margin-right: 0rem;
	}
}
