.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding: 2rem;
	margin-top: 6rem;
	position: relative;
}

.backnav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	color: var(--color-text-accent);
	cursor: pointer;
}

.backnav svg {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.backnav p {
	font-size: 1rem;
	font-style: italic;
	font-weight: 100;
	text-transform: lowercase;
}

.top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	margin-bottom: 0rem;
	padding: 2rem;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 50%;
	/* flex: 1; */
}

.date {
	font-weight: 600;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 3rem;
	text-align: justify;
	color: var(--color-text-accent);
}

.left h3 {
	font-weight: 600;
	font-size: 2.8rem;
	line-height: 3rem;
	text-align: left;
	text-transform: capitalize;
	color: var(--color-text);
	margin-bottom: 1.5rem;
}

.summary {
	font-weight: 400;
	font-size: 1rem;
	font-style: italic;
	line-height: 2rem;
	text-align: left;
	margin-bottom: 2rem;
	padding-right: 2rem;
	color: var(--color-text-accent);
}

.author {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 60%;
}

.authorImageContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 12%;
	margin-right: 2rem;
}

.authorImageContainer img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: none;
	outline: none;
	margin-right: 0;
}

.authorDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: -1.5rem;
	width: 80%;
}
.authorDetails h5 {
	font-weight: 600;
	font-size: 1rem;
	line-height: 2.5rem;
	text-align: justify;
	color: var(--color-text);
	margin-bottom: -1.5rem;
}
.authorDetails p {
	font-weight: 600;
	font-size: 0.8rem;
	line-height: 3rem;
	text-align: left;
	color: var(--color-text-accent);
}

.right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 2rem;
	flex: 1;
}

.right img {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
}

.bottom {
	margin: 2rem 0 8rem 0;
	padding: 2rem 8rem;
}

.bottom .empty {
	width: 100%;
	background: var(--color-text-accent);
	border: 1px solid #e5e7eb;
	background: var(--color-button);
	margin: 2rem 0;
}

.bottom h3 {
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2rem;
	margin-bottom: 2rem;
	text-align: justify;
	color: var(--color-text);
}

.bottom p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1rem;
	text-align: justify;
	color: var(--color-text);
}

.bottom article h1 {
	font-size: 2.8rem;
	font-weight: 400;
	line-height: 3rem;
	text-align: left;
	text-transform: capitalize;
	color: var(--color-text);
	margin: 3rem 0 2rem 0;
}
.bottom article h2 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.5rem;
	text-align: left;
	text-transform: capitalize;
	color: var(--color-text);
	margin: 3rem 0 1.5rem 0;
}
.bottom article h3 {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.5rem;
	text-align: left;
	text-transform: capitalize;
	color: var(--color-text);
	margin: 3rem 0 1rem 0;
}
.bottom article ol li {
	list-style-type: decimal;
	margin-left: 1.5rem;
}

/* Media Queries */
/* Larger Devices  - any size below 1050px will be affected by this query */
@media screen and (max-width: 1050px) {
	.author {
		width: 100%;
	}

	.bottom {
		padding: 2rem 4rem;
	}
}
/* Tablet Devices  - any size below 650px will be affected by this query */
@media screen and (max-width: 650px) {
	.container {
		padding: 0rem;
	}

	.backnav {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		color: var(--color-text-accent);
		cursor: pointer;
	}

	.backnav svg {
		font-size: 1.5rem;
		margin-right: 0.5rem;
	}

	.backnav p {
		font-size: 1rem;
		font-style: italic;
		font-weight: 100;
		text-transform: lowercase;
	}

	.top {
		width: 100%;
		padding: 1rem;
		margin-top: 2rem;
		margin-top: 3rem;
	}

	.left {
		align-items: flex-start;
		max-width: 100%;
		margin-bottom: 0rem;
	}

	.author {
		width: 100%;
	}

	.right {
		margin-left: 0.1rem;
		margin-top: 2rem;
	}

	.bottom {
		margin-top: 2rem;
		padding: 2rem;
		margin-bottom: 3rem;
		width: 100%;
	}
}
/* Mobile Devices  - any size below 490px will be affected by this query */
@media screen and (max-width: 490px) {
	.top {
		margin-top: 3rem;
	}

	.bottom {
		margin-top: 1rem;
		margin-bottom: 3rem;
		padding: 1rem;
		width: 100%;
	}
}
