.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: relative;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
	padding: 1rem;
	flex-wrap: wrap;
	margin-right: 1rem;
}

.content h2 {
	font-weight: 500;
	font-size: 2rem;
	line-height: 2rem;
	color: var(--color-subtext);
	display: flex;
	align-items: center;
	text-transform: capitalize;
	margin: 2rem 0 1rem 0;
}

.content h2 div {
	width: 7rem;
	height: 0;
	margin-right: 2rem;
	background-color: var(--color-subtext);
	border: 1px solid var(--color-button);
}

.description {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 4rem;
	color: var(--color-text-accent);
	text-transform: capitalize;
	margin: 1.5rem 0 2rem 0;
}

.content p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 2rem;
	color: var(--color-text);
	margin-top: 1rem;
	/* padding-right: 2rem; */
	width: 80%;
}

.cta {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 3rem;
}

.ctaButtonContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.ctaButtonContainer {
	min-width: 10rem;
}

.ctaResumeContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	width: 12rem;
}

.cta button {
	padding: 0.5rem 1rem;
	background-color: var(--color-button);
	color: #fff;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2rem;
	border-radius: 6px;
	border: none;
	outline: none;
	cursor: pointer;
	min-width: 9rem;
	min-height: 3.2rem;
}

.cta a {
	color: var(--color-button);
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 2rem;
	outline: none;
	cursor: pointer;
	margin: 0;
	text-decoration: underline;
}
.cta p svg {
	display: inline-block;
	vertical-align: text-bottom;
	/* border: 1px solid green; */
	margin-left: 0;
	color: var(--color-button);
}

.horizontalLine {
	width: 622px;
	background: var(--color-text);
	border: 1px solid #e5e7eb;
	margin: 1.5rem 0 1rem 0;
}

.content .headerFooter {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1rem;
	margin-top: 0.2rem;
	color: var(--color-text);
}

.header .headerImageContainer {
	display: flex;
	flex: 0.5;
	justify-content: center;
	align-items: center;
	margin-left: 3rem;
}

.header .headerImageContainer img {
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

/* Hover Animations */
/* Buzz Out */
.hvrBuzzOut {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvrBuzzOut:hover,
.hvrBuzzOut:focus,
.hvrBuzzOut:active {
	-webkit-animation-name: hvrBuzzOut;
	animation-name: hvrBuzzOut;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@-webkit-keyframes hvrBuzzOut {
	10% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	20% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	60% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	80% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		-webkit-transform: translateX(1px) rotate(0);
		transform: translateX(1px) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1px) rotate(0);
		transform: translateX(-1px) rotate(0);
	}
}
@keyframes hvrBuzzOut {
	10% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	20% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	60% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	80% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		-webkit-transform: translateX(1px) rotate(0);
		transform: translateX(1px) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1px) rotate(0);
		transform: translateX(-1px) rotate(0);
	}
}

.pageNav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 2rem 1rem 2rem 0;
	color: var(--color-subtext);
	cursor: pointer;
}
.pageNav svg:first-child,
.pageNav svg:last-child {
	font-size: 0.8rem;
}
.pageNav svg:last-child {
	margin-left: -0.7rem;
}
.pageNav svg:nth-child(3) {
	font-size: 1.5rem;
	margin-right: 0;
	margin-left: -0.2rem;
	font-weight: 100;
}
.pageNav p {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
}

/* *********************************** */

/* Media Queries */
/* Larger Devices  - any size below 1050px will be affected by this query */
@media screen and (max-width: 1050px) {
	.header {
		flex-direction: column;
	}
	.content {
		align-items: center;
		margin-bottom: 2rem;
	}

	.content h2 {
		align-self: flex-start;
	}

	.content h2 div {
		margin-left: 1rem;
	}

	.description {
		text-align: right;
		font-size: 2.8rem;
		line-height: 6rem;
	}

	.content p {
		font-size: 1.2rem;
		padding: 0 0.5rem;
		text-align: right;
		align-self: flex-end;
	}

	.cta {
		flex-direction: row-reverse;
	}

	.ctaButtonContainer,
	.ctaResumeContainer {
		justify-content: flex-end;
	}

	.ctaResumeContainer {
		width: 8rem;
	}

	.cta button,
	.cta p {
		font-size: 1rem;
		line-height: 1.5rem;
		margin: 0;
	}
}
/* Tablet Devices  - any size below 650px will be affected by this query */
@media screen and (max-width: 650px) {
	.header {
		gap: 3rem;
		height: fit-content;
	}

	.content h2 div {
		margin-left: 4rem;
	}

	.description {
		text-align: center;
		font-size: 2rem;
		line-height: 4rem;
		padding: 0 4rem;
	}

	.content p {
		font-size: 1.1rem;
		text-align: center;
		align-self: center;
		padding: 0;
	}

	.cta {
		flex-direction: row;
		justify-content: center;
	}

	.cta button,
	.cta p {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.horizontalLine {
		background-color: #e5e7eb;
	}

	.content .headerFooter {
		margin-top: 0;
	}
	.header .headerImageContainer {
		margin-left: 0rem;
	}
	.pageNav {
		margin-right: 0;
	}
}

/* Tablet Devices  - any size below 490px will be affected by this query */
@media screen and (max-width: 490px) {
	.header {
		padding: 1rem;
		width: 100%;
		height: fit-content;
		/* border: 1px solid red; */
	}
	.content {
		margin-right: 0rem;
		padding: 1rem;
		/* border: 1px solid yellow; */
	}
	.content h2 div {
		width: 4rem;
		margin: 0 1rem 0 10rem;
	}
	.content h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.description {
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 0 10rem;
	}

	.content p {
		font-size: 1rem;
		line-height: 1.8rem;
		padding: 0 1.5rem;
		width: 60%;
	}

	.cta {
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}

	.ctaButtonContainer {
		justify-content: flex-end;
		margin-left: 3rem;
	}

	.ctaResumeContainer {
		justify-content: flex-start;
	}

	.ctaResumeContainer {
		width: 12rem;
	}
	.header .headerImageContainer {
		margin: 0 0 3rem 0;
	}

	.pageNav {
		display: none;
	}
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
	.content h2 div {
		width: 3rem;
		margin: 0 1rem 0 12rem;
	}
	.content h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.description {
		line-height: 2rem;
		padding: 0 12rem;
	}

	.content p {
		padding: 0 4rem;
		width: 60%;
	}

	.cta {
		flex-direction: row;
		justify-content: center;
		gap: 1.2rem;
	}

	.cta button {
		padding: 0.5rem;
		font-size: 1.2rem;
		line-height: 2rem;
		min-width: 7rem;
	}

	.ctaResumeContainer {
		justify-content: flex-start;
		width: 12rem;
	}
	.cta a {
		font-size: 1rem;
	}

	.header .headerImageContainer {
		margin: 0 0 3rem 0;
	}

	.pageNav {
		display: none;
	}
}
